.find {
  background: #ececec;
  padding: 88px 0;
}

.find_wrapper {
  display: flex;
  flex-direction: column;
}

.find_wrapper hr {
  width: 80px;
  height: 3px;
  background: #ab0433;
  border: 1px solid #ab0433;
  margin: 0 auto;
}

.find_wrapper h3 {
  padding-top: 8px;
  color: #505050;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  margin: 0 auto;
}

.find__content {
  display: flex;
  flex-wrap: wrap;
}

.find__content__list__item .cabel {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

.find__content__list {
  display: flex;
  list-style: none;
  gap: 32px;

  @include media() {
    flex-wrap: wrap;
    align-items: center;
  }

  @include tablet() {
    justify-content: center;
  }

  @include mobile() {
    align-items: center;
    justify-content: center;
  }
}

.find__content__list__item {
  max-width: 400px;
  padding-top: 34px;
  @include media() {
    width: 350px;
  }
}

.find__content__list__item:nth-child(4) {
  visibility: hidden;

  @include media() {
    visibility: inherit;
  }
}

.find__content__list__item-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0px 0px 10px 10px;
  background: #fff;
  box-shadow: 0px 12px 32px 0px #0000000d, 0px 2px 4px 0px #1c054d1a;

  p {
    padding-bottom: 20px;
    color: #767676;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
  }

  a {
    padding: 0 6px;
    color: #505050;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    border-radius: 20px;
    border: 1px solid #eaeaea;
  }
}

.item__content {
  display: flex;
  gap: 180px;

  h6 {
    text-wrap: nowrap;
  }

  @include media() {
    gap: 140px;
  }
}
